<div>
  <h4 mat-dialog-title>
      <button mat-icon-button matTooltip="Show/Hide Line" (click)="onToggleLine()">
        <mat-icon>{{channel.hide_trace ? 'visibility' : 'visibility_off'}}</mat-icon>
      </button>
    {{channel.proper_name}}
  </h4>
  <mat-dialog-content fxLayout="row" fxLayoutGap="12px">
    <div fxLayout="column" fxLayoutGap="12px" fxFlex="50">
      <mat-form-field>
        <input matInput id="changeHourStep" type="number" class="form-control" placeholder="Range Min" [(ngModel)]="channel.plot_min"/>
      </mat-form-field>
      <div fxLayout="row" fxLayoutGap="12px" fxLayoutAlign="start center">
        <label for="colorPicker">Line Color</label>
        <p-colorPicker id="colorPicker" [(ngModel)]="channel.default_color"></p-colorPicker>
      </div>
    </div>

    <div fxLayout="column" fxLayoutGap="12px" fxFlex="50">
      <mat-form-field>
        <input matInput id="changeHourStepMax" type="number" class="form-control" placeholder="Range Max"
               [(ngModel)]="channel.plot_max"/>
      </mat-form-field>
      <mat-checkbox [(ngModel)]="channel.default">Show channel By Default</mat-checkbox>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button type="button" mat-raised-button (click)="savePreferences()">Save and Apply</button>
    <div fxLayout="row" fxLayoutAlign="end center" fxFlex>
      <button type="button" mat-raised-button mat-dialog-close>Close</button>
      <button type="button" mat-raised-button color="primary" (click)="applyClicked()">Apply</button>
    </div>
  </mat-dialog-actions>
</div>
